    <section class="level pt-6 pb-4">
        <!-- back button -->
        <button id="back-btn" class="button is-large is-white is-rounded level-left">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </button>

        <!-- title -->
        <div class="level-item">
          <h1 class="title is-size-2 is-size-4-mobile is-uppercase has-text-centered has-text-weight-normal">G h o s t w r i t e r</h1>
        </div>

        <!-- login icon => click for dropdown => who is logged in and a logout button -->
        <div class="dropdown is-hoverable px-4 is-right level-right">
        <div class="dropdown-trigger level-item">
            <button class="button is-large is-white is-rounded" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-large">
                <img class="is-rounded" src="{{user.profileIcon}}" alt="profile icon">
            </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
            <div class="dropdown-content">
            <div class="dropdown-item">
                <p>{{user.name}} is logged in</p>
            </div>
            {{!-- {{#if user.isAdmin}} --}}
            <hr class="dropdown-divider">
            <a onclick="document.location.replace('/api/admin/adminTools/generator')" href="#" class="dropdown-item">
                admin
            </a>
            {{!-- {{/if}} --}}
            <hr class="dropdown-divider">
            <a href="#" id="logout" class="dropdown-item">
                logout
            </a>
        </div>
        </div>
    </section>

{{!-- <section class="hero">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item px-6 pt-4 pb-0">
            <!-- back button -->
            <!-- works to go back to main page for normies and to go back to the edit page for admin -->
            <button id="back-btn" class="button">
                go back
            </button>
          </a>
        </div>
      </div>
    </nav>
  </div> --}}
  <!-- article title and author -->
  <div class="hero-body">
    <div class="container has-text-centered">
    <!-- title -->
    <p class="title is-size-3 is-size-5-mobile">
      {{content.Title}}
    </p>
    <!-- author -->
    <p class="subtitle is-size-4 is-size-6-mobile">
      {{content.Author}}
    </p>
    </div>
  </div>
</section>
<!-- article -->
<div class='columns is-full'>
    <div class='card equal-height'>
      <div class="card-image has-text-centered column is-6 is-offset-3">
        <figure class="image">
            <!-- article image -->
            <img src="{{content.urlToImage}}" alt=""/>
        </figure>
      </div>
      <div class='card-content column is-6 is-offset-3'>
        <!-- article content -->
        <p>
            <strong class="is-invisible">space</strong>{{content.BlogPost}}
            <br>
            <hr>
            {{content.Date}}
        </p>
      </div>
    </div>
    
</div>
<!-- back and forward buttons -->
{{!-- <div class="columns is-mobile">
    <div class="column is-4 is-offset-4">
        <button class="button back-btn">previous article</button>
        <button class="button next-btn">next article</button>
    </div>
</div> --}}
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>GHOSTWRITER</strong> by <a href="https://github.com/javieb5186">Javier</a>, <a href="https://github.com/DanielFord11">Daniel</a>, <a href="https://github.com/markymark97">Mark</a>, and <a href="https://github.com/Sarah-Paterson">Sarah</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
</footer>
{{!-- scripts --}}
<script src="/js/article.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>